.prettyHeading,.mainHeading,.subHeading,.item,.menuButton,.message,.author
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}

.mainHeading {
    font-size: 3em;
    text-align: center;
}

.prettyHeading {
    font-size: 5em;
    color:magenta;
    text-align: center;
    text-shadow: 3px 3px 0 cyan, 10px 10px 10px grey;
}

.subHeading {
    font-size: 3.5em;
    text-align: left;
    margin-left:10%;
    margin-right: 10%;
}

.item {
    font-size: 3em;
    text-align: left;
    margin-left:15%;
    margin-right: 10%;
}

.message {
    font-size: 3em;
    text-align: center;
    margin-left:15%;
    margin-right: 10%;
}

.author{
    font-size: 2em;
    text-align: right;
    margin-left:10%;
    margin-right: 10%;
}

.menuButton
{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    font-size: 2em;
    text-align: center;
}

